<div class="flex min-h-0 flex-1 flex-col gap-2">
  <div class="flex flex-row justify-end gap-4">
    <button (click)="state.prev()" class="border px-2 py-1 hover:bg-slate-400">
      Previous
    </button>
    <button (click)="state.next()" class="border px-2 py-1 hover:bg-slate-400">
      Next
    </button>
    <a class="border px-2 py-1 hover:bg-slate-400" routerLink="create"
    >Create</a
    >
  </div>
  <div class="flex flex-1 flex-col gap-1 overflow-auto">
    @if (state.loading()) {
      <div class="flex h-32 items-center justify-center">
        <div
          class="h-16 w-16 animate-spin rounded-full border-8 border-gray-300 border-b-green-800"
        ></div>
      </div>
    } @else {
      @for (item of state.todos(); track item.id) {
        <app-todo
          (statusChanged)="state.itemStatusChanged($event)"
          [todo]="item"
        />
      }
    }
  </div>
</div>
